/* Animation Times - Time for image to fade in
---------------------------------------------------- */
/* Animation Delay - Time for image to be delayed
---------------------------------------------------- */
/* Key Frames
---------------------------------------------------- */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  color: #3e4b52;
}
.header {
  padding: 50px 0;
  text-align: center;
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  -o-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forward;
  -webkit-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -o-animation-duration: 500ms;
  animation-duration: 500ms;
}
.header p,
.hero {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  -o-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forward;
  -webkit-animation-duration: 700ms;
  -moz-animation-duration: 700ms;
  -o-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-delay: 700ms;
  -moz-animation-delay: 700ms;
  -o-animation-delay: 700ms;
  animation-delay: 700ms;
}
@media (max-width: 400px) {
  .hero {
    width: 100%;
    height: auto;
  }
}
.features {
  padding: 60px 0;
}
.feature {
  text-align: center;
  padding: 10px;
}
.feature .glyphicon {
  font-size: 50px;
}
.leave-space-down {
  padding-bottom: 20px;
}
.leave-space-up {
  padding-top: 20px;
}
.call-to-action {
  text-align: center;
}
.resource {
  width: auto;
  display: block;
  text-align: center;
}
.donations li img {
  margin: 0 10px;
  height: 1em;
  width: auto;
}
/*
 * Footer
 */
.footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.cnm-color1 {
  color: #03bd9c;
}
.cnm-color2 {
  color: #ce2022;
}
.cnm-color3 {
  color: #faa020;
}
.cnm-color4 {
  color: #6fc6f1;
}
