.starter-template {
  padding: 80px 0;
  text-align: center;
}
@media (max-width: 400px) {
  .logo {
    width: 100%;
    height: auto;
  }
}
.features {
  padding: 60px 0;
  text-align: center;
}
.feature {
  padding: 10px;
}
.feature .glyphicon {
  font-size: 50px;
}
.leave-space-down {
  padding: 0 0 20px 0;
}
/*
 * Footer
 */
.footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
